.destinationSection{
    min-height: 90vh;
    width: 100%;
    background-color: #95a6b5;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.destinationSection button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.destinationSection .destination {
  width: 90%;
  min-height: 70vh;
  background-color: #fff;
  border-radius: 20px;
  background-image: url("../images/Destinations/kedarnath-temple.webp");

  background-size: cover;
  background-position: center;
}