header{
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    width: 90%;
    height: 8vh;
    padding: 0 35px;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 1%;
    
    left: 50%;
    translate: -50%;
}

header #logo{
    font-size: 1.4rem;
    font-weight: 600;
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 3px 15px;
}

header nav a:hover{
    border: 2px solid salmon;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 30px;
    color: black;
}

header button{
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-family: serif;
    font-size: 1.1rem;
    border: 2px solid black;
    cursor: pointer;
}

header button:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}