.hero-section{
    width: 100%;
    height: 100%;
    background-color: wheat;
    background-image: url("/practis/images/heroSectionBGImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}
.hero-section .landingContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.hero-section .landingContainer h1{
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-section .landingContainer p{
    font-size: 18px;
}
.hero-section .landingContainer #exploreBtn{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid gray;
    color: #2b2b2b;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.hero-section .landingContainer #exploreBtn:hover{
    background-color: rgb(68, 67, 67);
    color: white;
    transition: all 0.4s ease;
}